<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8"/>
<link rel="stylesheet" href="css.css"/>
  <title>기말고사</title>

</head>

<body>
<table class="login_table">

<tr>

<td id="id_text">ID</td>

<td id="id_form">
<input name="account" value="아이디" />

</td>

</tr>

<tr>

<td id="pass_text" >Password</td>

<td id="pass_form">
<input name="pasword" value="비밀번호"/>
</td>

</tr>

<tr>

<td id="login_button">
  <a href="#" class ="button blue" id="button_area1">로그인</a>
</td>

<td id="cancel">
  <a href="#" class ="button blue" id="button_area1">취소</a>

</td>

</tr>

</table>


<script src="scripts.js"></script>
<script src="util.js"></script>
<script src="css.css"></script>

</body>

</html>