<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<link rel="stylesheet" href="css.css"/>
  <title>기말고사</title>

</head>


<body>


    <header id ="top">

<a href="#" class ="button blue">회원가입</a>

<a href="#" class ="button blue">글쓰기</a>


 </header>

    <table id="table">


    </table>

<script src="scripts.js"></script>
<script src="util.js"></script>
<script src="css.css"></script>
<script>
    var xhr = new XMLHttpRequest();
    xhr.open('GET', 'http://localhost:8080/rest/list');
    xhr.onreadystatechange = function(){
            var _tzs = xhr.responseText;
            var tzs = JSON.parse(_tzs);
            console.log(tzs);
        //저 id 테이블 저걸 선택해서
        // 저기에 innerHTML써서
        //tr이랑 td랑 만들고ㅓ
        // 거기에 데이터를 넣으면되
        console.log(tzs[0].name)
        console.log(tzs[0].password)
        console.log(tzs[0].userId)

    }
    xhr.send();

</script>
</body>

</html>