<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="css.css"/>
  <title>기말고사</title>

</head>

<body>

    <header id ="top">

<a href="#" class ="button blue">회원가입</a>

<a href="#" class ="button blue">글쓰기</a>


 </header>

<table class="board">
  <tr>

  <td>
<img id="area1" src="norway.jpg">
</td>

  <td>

  <div id="area2">김태훈</div> 

</td>

  <td>

  <div id="">제주대학교 공부중</div>

</td>

  <td>

  <a href="#" class ="button blue" id="button_area1">추천</a>

</td>

  <th>

   <a href="#" class ="button blue" id="button_area2">반대</a>

</th>

  <td>

  <div id="">5분전</div>

</td>

  </tr>

   <tr>
  </tr>

</table>

<script src="scripts.js"></script>
<script src="util.js"></script>
<script src="css.css"></script>

</body>

</html>